<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>-->
  <connectionStrings>
    <add name="YJQuery" connectionString="data source=10.0.0.11;initial catalog=yjquery;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="bddata" connectionString="data source=10.0.0.11;initial catalog=bddata;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="hyzlConnection" connectionString="data source=192.168.0.8;initial catalog=zmd_hy;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="xShopNew" connectionString="data source=192.168.0.8;initial catalog=xshop_new;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="newshop" connectionString="data source=172.18.2.10;initial catalog=newshop;persist security info=False;user id=brouser;password=bro1872user;Connect Timeout=2000"/>
    <add name="fgsdata" connectionString="data source=172.18.2.10;initial catalog=fgsdata;persist security info=False;user id=brouser;password=bro1872user"/>
    <!--对应旧系统的yhorder-->
    <add name="dbreportConn" connectionString="data source=192.168.0.2;initial catalog=dbreport;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="fafang" connectionString="data source=10.0.0.11;initial catalog=bonus_data_2005;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="bonus" connectionString="data source=10.0.0.11;initial catalog=Bonus_30p;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="balance" connectionString="data source=172.18.2.132;initial catalog=balance;persist security info=False;user id=sa;password=wm828;Connect Timeout=2000"/>
    <add name="mallConnection" connectionString="data source=172.18.2.139,2433;initial catalog=wmb2c;persist security info=False;user id=wm_bro;password=wm@2016;Connect Timeout=2000"/>
    <!--<add name="messageServer" connectionString="data source=192.168.0.13;initial catalog=ms_queue;persist security info=False;user id=sa;password=perfect" />-->
    <add name="messageServerTest" connectionString="data source=192.168.0.29;initial catalog=yjquery;persist security info=False;user id=sa;password=perfect"/>
    <!--权限系统 测试-->
    <!--<add name="NewAMS" connectionString="data source=192.168.0.29;initial catalog=NewAMS;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>-->
    <!--权限系统 正式-->
    <add name="NewAMS" connectionString="data source=192.168.0.26;initial catalog=NewAMS;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="unicomDstConnection" connectionString="data source=192.168.0.33;initial catalog=dbreport;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="dayConnection" connectionString="data source=192.168.0.33;initial catalog=balance;persist security info=False;user id=sa;password=perfect;Connect Timeout=2000"/>
    <add name="preliminaryMonthlyReportConnection" connectionString="data source=10.0.0.20;initial catalog=yjquery202011cb;persist security info=False;user id=sa;password=perfect99.com;Connect Timeout=2000"/>
    <!--TcTask-->
    <add name="srcConnection" connectionString="data source=192.168.0.30;initial catalog=dbreport;persist security info=False;user id=sa;password=wm@perfect30;Connect Timeout=2000" />
  </connectionStrings>
  <appSettings>
    <!-- Redis配置><!-->
    <add key="WriteServerList" value="192.168.0.26:6379"/>
    <add key="ReadServerList" value="192.168.0.26:6379"/>
    <add key="MaxWritePoolSize" value="60"/>
    <add key="MaxReadPoolSize" value="60"/>
    <add key="AutoStart" value="true"/>
    <add key="LocalCacheTime" value="1800"/>
    <add key="RecordeLog" value="false"/>
    <add key="PFDebug" value="true"/>

    <!--<add key="CheckMessageInterval" value="5000"/>-->
  </appSettings>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HyWageServiceSoap" />
        <binding name="IdCardServiceSoap" />
        <binding name="MobileMessageWebServiceSoap" />
        <binding name="ActionValidateSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:16170/Services/HyWageService.asmx"
        binding="basicHttpBinding" bindingConfiguration="HyWageServiceSoap"
        contract="WageService.HyWageServiceSoap" name="HyWageServiceSoap" />
      <endpoint address="http://192.168.0.26:8092/Services/IdCardService.asmx"
        binding="basicHttpBinding" bindingConfiguration="IdCardServiceSoap"
        contract="CardService.IdCardServiceSoap" name="IdCardServiceSoap" />
      <endpoint address="http://localhost:28202/PFMobileMessageWebService/MobileMessageWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MobileMessageWebServiceSoap"
        contract="MobileMessageWebService.MobileMessageWebServiceSoap"
        name="MobileMessageWebServiceSoap" />
      <endpoint address="http://192.168.0.26/AMSWeb/ws/actionvalidate.asmx"
        binding="basicHttpBinding" bindingConfiguration="ActionValidateSoap"
        contract="ActionValidateServiceReference.ActionValidateSoap"
        name="ActionValidateSoap" />
    </client>
  </system.serviceModel>-->
</configuration>
